@model BasketVM
@{
	ViewData["Title"] = "Səbət";
}


<!-- Cart Start -->
@if (Model.BookInCarts.Count() == 0)
{
	<section id="EmptyCart">
		<h1>Səbət Boşdur</h1>
	</section>
}
else
{
	<section id="Cart">
		<div class="container">
			<form id="Sale" method="post">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" class="bookImg">Kitabın şəkli</th>
							<th scope="col">Adı</th>
							<th scope="col">Sayı</th>
							<th scope="col" class="author">Yazar</th>
							<th scope="col">Qiymət</th>
							<th scope="col">Silmək</th>
						</tr>
					</thead>
					<tbody>
						@foreach (BookInCart book in Model.BookInCarts)
						{
							<tr>
								<td class="bookImg">
									<div class="image">
										<img src="~/image/@book.Book.ImagePath" alt="">
									</div>
								</td>
								<td>@book.Book.Name</td>
								<td>
									<div class="count">
										<input type="number" min="1" name="Count" required value="@book.Count" class="bookCount form-control" />
									</div>
								</td>
								<td class="author">
									@foreach (BookAuthor author in Model.BookAuthors.Where(ba => ba.BookId == book.BookId))
									{
										<p style="margin:0">
											@author.Author.Fullname
										</p>
									}
								</td>
								<td>
									@if (book.Book.Publisher.Discount <= 0)
									{
										<input style="width:70px" disabled type="text" name="Price" value="@(decimal.Round((book.Book.Price * ViewBag.Currency), 2))" class="bookPrice form-control" />
									}
									else
									{
										<input style="width:70px" disabled type="text" name="Price" value="@(decimal.Round((book.Book.Price * ViewBag.Currency * ((decimal)(100 - book.Book.Publisher.Discount) / 100)), 2))" class="bookPrice form-control" />
									}
								</td>
								<td>
									<a asp-controller="Basket" asp-action="DeleteBook" asp-route-id="@book.BookId" class="delete">
										<i class="fas fa-minus-circle"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<h5 class="mb-2 total" style="text-align:end;font-weight:bold">Total: </h5>
				<span><strong>Telefon nömrəsi:</strong></span>
				<input type="text" asp-for="PhoneNumber" class="phoneInput form-control" />
				<span class="phoneError text-danger" asp-validation-for="PhoneNumber"></span><br />
				<span class="dtype mt-3"><strong>Çatdırılma növü:</strong></span>
				<select name="Type" id="delivery" class="form-control">
					<option value="Metro">Metro</option>
					<option value="Şəhər daxili">Şəhər daxili</option>
					<option value="Rayon">Rayon</option>
				</select>
				<div class="metros mt-3">
					<span><strong>Metrolar (Metrodaxili):</strong></span><br />
					<span>Çatdırılma ödənişsizdir</span>
					<select name="Metro" id="metro" class="form-control ">
						<option value="20 Yanvar">20 Yanvar</option>
						<option value="28 May">28 May</option>
						<option value="Xətai">Xətai</option>
						<option value="İçərişəhər">İçərişəhər</option>
						<option value="Sahil">Sahil</option>
						<option value="Gənclik">Gənclik</option>
						<option value="Nəriman Nərimanov">Nəriman Nərimanov</option>
						<option value="Bakmil">Bakmil</option>
						<option value="Ulduz">Ulduz</option>
						<option value="Koroğlu">Koroğlu</option>
						<option value="Qara Qarayev">Qara Qarayev</option>
						<option value="Neftçilər">Neftçilər</option>
						<option value="Xalqlar Dostluğu">Xalqlar Dostluğu</option>
						<option value="Əhmədli">Əhmədli</option>
						<option value="Həzi Aslanov">Həzi Aslanov</option>
						<option value="Nizami">Nizami</option>
						<option value="Elmlər Akademiyası">Elmlər Akademiyası</option>
						<option value="İnşaatçılar">İnşaatçılar</option>
						<option value="Memar Əcəmi">Memar Əcəmi</option>
						<option value="Nəsimi">Nəsimi</option>
						<option value="Azadlıq prospekti">Azadlıq prospekti</option>
						<option value="Dərnəgül">Dərnəgül</option>
						<option value="Cəfər Cabbarlı">Cəfər Cabbarlı</option>
						<option value="Avtovağzal">Avtovağzal</option>
					</select>
				</div>
				<div class="city mt-3 d-none">
					<span><Strong>Şəhər daxili adres:</Strong></span><br />
					<span>Çatdırılma: 2 AZN</span>
					<input name="City" type="text" class="form-control">
				</div>
				<div class="region mt-3 d-none">
					<span><strong>Rayon və adres (3-5 gün ərzində):</strong></span><br />
					<span>Çatdırılma: 2 AZN</span>
					<input name="Region" type="text" class="form-control">
				</div>
				<div class="bTn mt-3">
					<button type="submit" class="btn btn-outline-primary">Sifariş et</button>
				</div>
			</form>
		</div>
	</section>
}



<!-- Cart End -->

@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		let prevTotal = 0;
		let i = 0;
		let prevPrices = document.querySelectorAll(".bookPrice");
		let prevCounts = document.querySelectorAll(".bookCount");
		for (price of prevPrices) {
			prevTotal += parseFloat(price.value.replace(',','.')) * prevCounts[i].value;
			i++
		}
		let prevTotalText = `Total: ${prevTotal.toFixed(2)} ₼`
		$("#Cart #Sale h5.total").text(prevTotalText);

		$("#Cart tbody .bookCount").keyup(function () {
			let total = 0;
			let prices = document.querySelectorAll(".bookPrice");
			let j = 0;
			let counts = document.querySelectorAll(".bookCount");
			for (price of prices) {
				total += parseFloat(price.value.replace(',','.')) * counts[j].value;
				j++
				console.log("asd")
			}
			let totalText = `Total: ${total.toFixed(2)} ₼`
			$("#Cart #Sale h5.total").text(totalText);
		})
		$("#Cart tbody .bookCount").change(function () {
			let total = 0;
			let prices = document.querySelectorAll(".bookPrice");
			let j = 0;
			let counts = document.querySelectorAll(".bookCount");
			for (price of prices) {
				total += parseFloat(price.value.replace(',','.')) * counts[j].value;
				j++
			}
			let totalText = `Total: ${total.toFixed(2)} ₼`
			$("#Cart #Sale h5.total").text(totalText);
		})
		$("#Cart #Sale").submit(function (e) {
			e.preventDefault();
			let text = $("#Cart #Sale .phoneInput").val()
			let error = $("#Cart #Sale .phoneError").text()
			let total = 0;
			let prices = document.querySelectorAll(".bookPrice");
			let j = 0;
			let counts = document.querySelectorAll(".bookCount");
			for (price of prices) {
				total += parseFloat(price.value.replace(',','.')) * counts[j].value;
				j++
			}

			let bookCount = false;
			counts.forEach(function (count) {
				if (count.value < 1 == true) {
					bookCount = true;
					return;
				}
			})
			if (text.toString().trim() != "" && error.toString().trim() == "" && bookCount == false) {
				swal({
					title: "Sifariş",
					text: `Cəmi məbləğ ${total.toFixed(2)} ₼ (Çatdırılma nəzərə alınmır)`,
					icon: "info",
					buttons: ["Ləğv et", "Sifarişi ver"],
				})
					.then((willDelete) => {
						if (willDelete) {
							swal("Sifarişiniz uğurla həyata keçirildi", {
								icon: "success",
								button: "Bağla"
							}).then(function () {
								setTimeout(() => document.querySelector("#Sale").submit(), 100);
							})
						} else {
							swal({
								text: "Sifariş ləğv olundu",
								button: "Bağla"
							});
						}
					});
			}
		});
	</script>
}
