@model ProfileVM
@{
	ViewData["Title"] = "Profil";
}


<!-- Modal Photo -->
<div class="modal fade" id="ModalPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@if (Model.UserDetail.ImagePath != null)
				{
					<div class="currentPhoto">
						<h4>Hazırki şəkil:</h4>
						<img style="width:100px;height:130px" src="~/image/usersphotos/@Model.UserDetail.ImagePath" alt="">
					</div>
				}
				<form class="mt-3" method="post" asp-action="ChangePhoto" enctype="multipart/form-data">
					<h4>Yeni şəkil:</h4>
					<input asp-for="Photo" class="form-control" accept="image/*">
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
						<button type="submit" class="btn btn-primary">Yadda saxla</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="ModalSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Profil Məlumatları</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form asp-action="SaveChanges" method="post">
					<span>Ad və Soyad</span>
					<input asp-for="AppUser.FullName" class="form-control">
					<span>Cinsiyyət</span>
					<select class="form-control" name="Gender">
						<option value="Kişi">Kişi</option>
						<option value="Qadın">Qadın</option>
						<option value="Digər">Digər</option>
					</select>
					<span>Doğum tarixi</span>
					<input asp-for="UserDetail.Birthday" class="form-control">
					<span>Mobil nömrə</span>
					<input asp-for="UserDetail.PhoneNumber" class="form-control">
					<span>Facebook(Link)</span>
					<input asp-for="UserDetail.FacebookLink" class="form-control">
					<span>Instagram(Link)</span>
					<input asp-for="UserDetail.InstagramLink" class="form-control">
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
						<button type="submit" class="btn btn-primary">Yadda saxla</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal Favorite -->
<div class="modal fade" id="ModalFavorite" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seçilmiş kitablar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="books">
					@if (Model.FavoriteBooks.Count() != 0)
					{
						<form id="favoritesForm" asp-controller="Profile" asp-action="DeleteFavorites">
							<button class="btn btn-danger" type="submit">Bütün kitabları sil</button>
						</form>
					}
					@foreach (FavoriteBook favoriteBook in Model.FavoriteBooks.OrderByDescending(fb => fb.Id))
					{
						<div class="book">
							<div class="image">
								<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@favoriteBook.Book.Slug"><img src="~/image/@favoriteBook.Book.ImagePath" alt=""></a>
							</div>
							<div class="title">
								<h6>@favoriteBook.Book.Name</h6>
								@foreach (BookAuthor bookAuthor in Model.BookAuthors.Where(ba => ba.BookId == favoriteBook.BookId))
								{
									<p><a href="/NewBooks/?aslug=@bookAuthor.Author.Slug">@bookAuthor.Author.Fullname</a></p>
								}
								<span><a href="/NewBooks/?pslug=@Model.Publishers.FirstOrDefault(p => p.Id == favoriteBook.Book.PublisherId).Slug">@Model.Publishers.FirstOrDefault(p => p.Id == favoriteBook.Book.PublisherId).Name</a></span>
							</div>
							<form class="favoriteForm delete" asp-controller="Profile" asp-action="DeleteFavorite" asp-route-id="@favoriteBook.BookId">
								<button style="background:none;border:none" type="submit"><i class="fas fa-minus-circle"></i></button>
							</form>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Sales -->
<div class="modal fade" id="ModalSales" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Alışlar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
					@foreach (Sale sale in Model.Sales.OrderByDescending(s => s.Id))
					{
						<li class="saleDate">
							<h6>@sale.Date.ToString("dd/MM/yyyy")</h6>
							<i class="fas fa-angle-down"></i>
						</li>
						<li class="books">
							@foreach (SaleBook saleBook in sale.SaleBooks)
							{
								<div class="book">
									<div class="image">
										<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@saleBook.Book.Slug"><img src="~/image/@saleBook.Book.ImagePath" alt=""></a>
									</div>
									<div class="title">
										<h6>@saleBook.Book.Name</h6>
										@foreach (BookAuthor bookAuthor in Model.BookAuthors.Where(ba => ba.BookId == saleBook.BookId))
										{
											<p><a href="/NewBooks/?aslug=@bookAuthor.Author.Slug">@bookAuthor.Author.Fullname</a></p>
										}
										<span><a href="/NewBooks/?pslug=@saleBook.Book.Publisher.Slug">@saleBook.Book.Publisher.Name</a></span><br />
										<p style="margin:10px 0 0 0">@saleBook.Price ₼</p>
									</div>
									<div style="display:flex;align-items:center;justify-content:center;text-align:center">
										<span>
											<strong>@saleBook.Count ədəd</strong>
										</span>
									</div>
								</div>
							}
							<h6 class="total">Total: @sale.Total ₼</h6>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Profile Start -->

<section id="ProfilePhoto">
	<div class="container">
		<div class="photo-options">
			<img class="image" src="~/image/book-cover.jpg" alt="">
			@if (Model.UserDetail != null)
			{
				@if (Model.UserDetail.ImagePath != null)
				{
					<div class="photo">
						<img src="~/image/usersphotos/@Model.UserDetail.ImagePath" alt="">
						@if (User.Identity.Name == Model.AppUser.UserName)
						{
							<i class="edit fas fa-edit"></i>
						}
					</div>
				}
				else
				{
					<div class="photo">
						<img src="~/image/pp.jpg" alt="">
						@if (User.Identity.Name == Model.AppUser.UserName)
						{
							<i class="edit fas fa-edit"></i>
						}
					</div>
				}
			}
			else
			{
				<div class="photo">
					<img src="~/image/pp.jpg" alt="">
					@if (User.Identity.Name == Model.AppUser.UserName)
					{
						<i class="edit fas fa-edit"></i>
					}
				</div>
			}
			@if (User.Identity.Name == Model.AppUser.UserName)
			{
				<div class="options">
					<div class="ppChange">
						<i class="fas fa-camera" data-toggle="modal" data-target="#ModalPhoto"></i>
					</div>
					@if (Model.UserDetail != null)
					{
						@if (Model.UserDetail.ImagePath != null)
						{
							<div class="pp">
								<img src="~/image/usersphotos/@Model.UserDetail.ImagePath" alt="">
							</div>
						}
						else
						{
							<div class="pp">
								<img src="~/image/pp.jpg" alt="">
							</div>
						}
					}
					else
					{
						<div class="pp">
							<img src="~/image/pp.jpg" alt="">
						</div>
					}
					<div class="settings">
						<i class="fas fa-user-cog" data-toggle="modal" data-target="#ModalSettings"></i>
					</div>
					<i class="close fas fa-times"></i>
				</div>
			}
			<div class="name">
				<h5>@Model.AppUser.FullName</h5>
			</div>
		</div>
	</div>
</section>

<section id="ProfileAbout">
	<div class="container">
		<div class="row justify-content-center">
			@if (Model.AppUser.UserName == User.Identity.Name)
			{
				<div class="col-lg-4 col-sm-8 col-8">
					<div class="card-sale mt-5">
						<div class="face saleFace1">
							<div class="content1">
								<i class="fas fa-archive"></i>
								<h3>Alışlar</h3>
							</div>
						</div>

					</div>
					<div class="face saleFace2">
						<div class="content2">
							<div class="sale">
								<ul>
									@foreach (Sale sale in Model.Sales.OrderByDescending(s => s.Id).Take(5))
									{
										<li>
											<h6>@sale.Date.ToString("dd/MM/yyyy")</h6>
										</li>
									}
								</ul>
								<button type="button" class="mt-2 btn btn-outline-primary" data-toggle="modal" data-target="#ModalSales">Detallar</button>
							</div>
						</div>
					</div>

					<div class="card-favorite mt-5">
						<div class="face favoriteFace1">
							<div class="content1">
								<i class="fas fa-star"></i>
								<h3>Favoritlər</h3>
							</div>
						</div>
					</div>
					<div class="face favoriteFace2">
						<div class="content2">
							<div class="books">
								@foreach (FavoriteBook favoriteBook in Model.FavoriteBooks.OrderByDescending(fb => fb.Id).Take(3))
								{
									<div class="book">
										<div class="image">
											<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@favoriteBook.Book.Slug"><img src="~/image/@favoriteBook.Book.ImagePath" alt=""></a>
										</div>
										<div class="title">
											<h6>@favoriteBook.Book.Name</h6>
											@foreach (BookAuthor bookAuthor in Model.BookAuthors.Where(ba => ba.BookId == favoriteBook.BookId))
											{
												<p><a href="/NewBooks/?aslug=@bookAuthor.Author.Slug">@bookAuthor.Author.Fullname</a></p>
											}
											<span><a href="/NewBooks/?pslug=@Model.Publishers.FirstOrDefault(p => p.Id == favoriteBook.Book.PublisherId).Slug">@Model.Publishers.FirstOrDefault(p => p.Id == favoriteBook.Book.PublisherId).Name</a></span>
										</div>
									</div>
								}
								<button type="button" class="mt-2 btn btn-outline-primary" data-toggle="modal" data-target="#ModalFavorite">Detallar</button>
							</div>
						</div>
					</div>
				</div>
			}
			<div class="col-lg-8 col-sm-12 col-12">
				@if (Model.UserDetail != null)
				{
					<div class="about mt-5">
						<h2>Haqqında</h2>
						<p><strong>Ad, Soyad: &nbsp;&nbsp;@Model.AppUser.FullName</strong> </p>
						<p><strong>Cinsiyyət: &nbsp;&nbsp;@Model.UserDetail.Gender</strong></p>
						<p><strong>Yaş: &nbsp;&nbsp;@ViewBag.Age</strong></p>
						<p><strong>Mobil nömrə: &nbsp;&nbsp;@Model.UserDetail.PhoneNumber</strong></p>
						<div class="social mt-4">
							<ul class="socialUl">
								@if (Model.UserDetail.FacebookLink != null)
								{
									<li class="facebook">
										<a href="@Model.UserDetail.FacebookLink" style="background:none">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											<span><i class="fab fa-facebook-f"></i></span>
										</a>
									</li>
								}
								@if (Model.UserDetail.InstagramLink != null)
								{
									<li class="instagram">
										<a href="@Model.UserDetail.InstagramLink" style="background:none">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											<span><i class="fab fa-instagram"></i></span>
										</a>
									</li>
								}
							</ul>
						</div>
					</div>
				}
				else
				{
					<div class="about mt-5">
						<h2>Haqqında</h2>
						<p><strong>Ad, Soyad: &nbsp;&nbsp;@Model.AppUser.FullName</strong> </p>
						<p><strong>Cinsiyyət:</strong></p>
						<p><strong>Yaş:</strong></p>
						<p><strong>Mobil nömrə:</strong></p>
						<p><strong>Facebook:</strong></p>
						<p><strong>Instagram:</strong></p>
					</div>
				}
			</div>
		</div>
	</div>
</section>

<!-- Profile End -->

@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		$("#ModalFavorite .books .book .favoriteForm i").click(function (e) {
			e.preventDefault();
			var element = $(this).parent().parent();
			swal({
				title: "Favoritlər",
				text: "Bu kitabı silmək istədiyinizdən əminsiniz?",
				icon: "warning",
				buttons: ["Bağla", "Sil"],
				dangerMode: true,
			})
				.then((willDelete) => {
					if (willDelete) {
						swal("Kitab favoritlərdən silindi", {
							icon: "success",
						}).then(function () {
							setTimeout(() => element.submit(), 100);
						})
					} else {
						swal("Kitab silinmədi");
						button: "Bağla"
					}
				});
		});
		$("#ModalFavorite .books #favoritesForm").submit(function (e) {
			e.preventDefault();
			swal({
				title: "Favoritlər",
				text: "Favoritlərdə bütün kitabları silmək istədiyinizdən əminsiniz?",
				icon: "warning",
				buttons: ["Bağla", "Sil"],
				dangerMode: true,
			})
				.then((willDelete) => {
					if (willDelete) {
						swal("Favorit kitablar silindi", {
							icon: "success",
						}).then(function () {
							setTimeout(() => document.querySelector("#favoritesForm").submit(), 100);
						})
					} else {
						swal("Kitablar silinmədi");
						button: "Bağla"
					}
				});
		});
	</script>
}
