@model NewBooksVM
@{
	ViewData["Title"] = "Kitab haqqında";
}

@section Css{
	<link rel="stylesheet" href="~/css/owlcarousel.min.css">
}

<!-- Book Detail Start -->

<section id="bookDetail">
	<div class="container">
		<div class="row book justify-content-center">
			<div class="col-lg-3 col-sm-4 col-4 image">
				<a><img src="~/image/@Model.Book.ImagePath" alt=""></a>
				@if (Model.Book.Publisher.Discount != 0)
				{
					<div class="discount">
						<span>@Model.Book.Publisher.Discount%</span>
					</div>
				}
			</div>
			<div class="col-lg-8 col-sm-12 col-12 content">
				<h3>
					<a>@Model.Book.Name</a>
				</h3>
				<div class="author-publisher">
					@foreach (BookAuthor bookAuthor in Model.Book.BookAuthors)
					{
						<p>
							<a href="/NewBooks?aslug=@bookAuthor.Author.Slug">@bookAuthor.Author.Fullname</a>
						</p>
					}
					<span>
						<a href="/NewBooks?pslug=@Model.Book.Publisher.Slug">@Model.Book.Publisher.Name</a>
					</span>
				</div>
				@if (Model.Book.Publisher.Discount <= 0)
				{
					<div class="mt-3 price">
						<span>@(decimal.Round((Model.Book.Price * ViewBag.Currency), 2)) ₼</span>
					</div>
				}
				else
				{
					<div class="mt-3 price">
						<span style="text-decoration-line:line-through">@(decimal.Round((Model.Book.Price * ViewBag.Currency), 2)) ₼</span>&nbsp;
						<span>@(decimal.Round((Model.Book.Price * ViewBag.Currency * ((decimal)(100 - Model.Book.Publisher.Discount) / 100)), 2)) ₼</span>
					</div>
				}
				@if (Model.Book.Count != 0)
				{
					<div class="stock">
						<h6>Stokda @Model.Book.Count ədəd qalıb</h6>
					</div>
				}
				else
				{
					<div class="stockEmpty">
						<h6>Stokda qalmayıb</h6>
						<h6>7-10 iş günü ərzində çatdırılma</h6>
					</div>
				}
				@if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == Model.Book.Id) == null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == Model.Book.Id) == null)
				{
					<div class="book-buttons">
						<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@Model.Book.Id" asp-route-actionName="@Context.Request.Path" class="btn mt-2 shopBtn btn-info"><i class="mr-1 fas fa-shopping-basket"></i>Səbətə əlavə et</a>
						<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-actionName="@Context.Request.Path" asp-route-id="@Model.Book.Id" class="mt-2 fBtn btn btn-secondary"><i class="mr-1 fas fa-plus"></i>Favoritlərə əlavə et</a>
					</div>
				}
				else if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == Model.Book.Id) != null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == Model.Book.Id) == null)
				{
					<div class="book-buttons">
						<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@Model.Book.Id" asp-route-actionName="@Context.Request.Path" class="btn mt-2 shopBtn btn-info" style="background:#5900ff;border-color:#5900ff"><i class="mr-1 fas fa-shopping-basket"></i>Səbətdə mövcuddur</a>
						<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-actionName="@Context.Request.Path" asp-route-id="@Model.Book.Id" class="mt-2 fBtn btn btn-secondary"><i class="mr-1 fas fa-plus"></i>Favoritlərə əlavə et</a>
					</div>
				}
				else if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == Model.Book.Id) == null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == Model.Book.Id) != null)
				{
					<div class="book-buttons">
						<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@Model.Book.Id" asp-route-actionName="@Context.Request.Path" class="btn mt-2 shopBtn btn-info"><i class="mr-1 fas fa-shopping-basket"></i>Səbətə əlavə et</a>
						<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-actionName="@Context.Request.Path" asp-route-id="@Model.Book.Id" class="mt-2 fBtn btn btn-secondary" style="background:#5900ff;border-color:#5900ff;pointer-events:none"><i style="color:tomato" class="mr-1 fas fa-heart"></i>Favoritlərdə mövcuddur</a>
					</div>
				}
				else
				{
					<div class="book-buttons">
						<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@Model.Book.Id" asp-route-actionName="@Context.Request.Path" class="btn mt-2 shopBtn btn-info" style="background:#5900ff;border-color:#5900ff"><i class="mr-1 fas fa-shopping-basket"></i>Səbətdə mövcuddur</a>
						<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-actionName="@Context.Request.Path" asp-route-id="@Model.Book.Id" class="mt-2 fBtn btn btn-secondary" style="background:#5900ff;border-color:#5900ff;pointer-events:none"><i style="color:tomato" class="mr-1 fas fa-heart"></i>Favoritlərdə mövcuddur</a>
					</div>
				}
				<div class="book-details">
					<div class="menu">
						<div data-id="1" class="selected">Açıqlama</div>
						<div data-id="2">Detallar</div>
					</div>
					<div class="details">
						<div data-id="1" class="option opened">
							<p>
								@Model.Book.Description
							</p>
						</div>
						<div data-id="2" class="option">
							<div class="row">
								<div class="col-sm-4 col-4">
									<div class="properties">
										<h6>Kitabın özəllikləri</h6>
										<ul>
											<li>Nəşriyyat tarixi : @Model.Book.BookFeature.PublishingDate.Year</li>
											@if (Model.Book.BookFeature.PublishingPlace != null)
											{
												<li>Nəşriyyat yeri : @Model.Book.BookFeature.PublishingPlace</li>
											}
											@if (Model.Book.BookFeature.PublishingLanguage != null)
											{
												<li>Nəşriyyat dili : @Model.Book.BookFeature.PublishingLanguage</li>
											}
											@if (Model.Book.BookFeature.OriginalLanguage != null)
											{
												<li>Original dili : @Model.Book.BookFeature.OriginalLanguage</li>
											}
										</ul>
									</div>
								</div>
								<div class="col-sm-4 col-4">
									<div class="categories">
										<h6>Kitabın kateqoriyaları</h6>
										@foreach (BookCategory bookCategory in Model.Book.BookCategories)
										{
											<span>@bookCategory.Category.Name</span><br />
										}
									</div>
								</div>
								<div class="col-sm-4 col-4">
									<div class="support">
										<p>Tərcüməçi</p>
										<span>@Model.Book.BookFeature.Translator</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Book Detail End -->
<!-- Owl Carousel Start -->

@if (Model.rBookCategories.Count() != 0)
{
	<section id="OwlCarousel">
		<div class="container">
			<div class="title">
				<h3>Bənzər Kitablar</h3>
			</div>
			<div class="owl-carousel owl-theme">
				@foreach (BookCategory rBookCategory in Model.rBookCategories.Take(12))
				{
					<div class="item">
						<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@rBookCategory.Book.Slug"><img src="~/image/@rBookCategory.Book.ImagePath" alt=""></a>
						<div class="name">
							@if (rBookCategory.Book.Name.Length < 15)
							{
								<h6>@rBookCategory.Book.Name</h6>
							}
							else
							{
								<h6>@rBookCategory.Book.Name.Substring(0, 15)...</h6>
							}
							@foreach (BookAuthor bookAuthor in Model.rBookAuthors.Where(rb => rb.BookId == rBookCategory.Book.Id))
							{
								@if (bookAuthor.Author.Fullname.Length < 15)
								{
									<p>@bookAuthor.Author.Fullname</p>
								}
								else
								{
									<p>@bookAuthor.Author.Fullname.Substring(0, 15)...</p>
								}
							}
						</div>
					</div>
				}
			</div>
		</div>
	</section>
}

<!-- Owl Carousel Start -->
