@model NewBooksVM
@{
	ViewData["Title"] = "Yenilər";
}


<!-- Sale Books Start -->

<section id="saleBooks">
	<div class="container">
		<div class="row justify-content-center">
			<div class="content animate__animated animate__fadeInLeft col-lg-7 col-xs-12 col-12">
				<div class="title">
					<h3>Endless Possibilities in a Single Theme!</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse, ex, natus nesciunt reiciendis fugit numquam velit quod </p>
				</div>
				<div class="options">
					<div class="option">
						<ul>
							<li>Easy and fun to work with</li>
							<li>Very customizable</li>
							<li>Clean and secure code</li>
							<li> New features added all the time</li>
						</ul>
					</div>
					<div class="option">
						<ul>
							<li>Always up to date</li>
							<li>Amazing demo templates</li>
							<li>Responsive and mobile ready</li>
							<li>Parallax support</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="image col-lg-5 col-xs-7 col-7">
				<img class="animate__animated animate__fadeInRight" src="~/image/kampanya.png" alt="">
			</div>
		</div>
	</div>
</section>

<!-- Sale Books End -->
<!-- New Books Start -->

<section id="newBooks">
	<div class="container">
		<div class="col title">
			<h2>Yeni Kitablar</h2>
		</div>
		<div class="row">
			<div class="col-lg-3 filter-section">
				<div class="filter-slide"><span>Filterlər</span><i class="ml-2 fas fa-angle-down"></i></div>
				<div class="filter-wrapper">
					<div class="activeFilters">
						<h6>Aktiv filtrlər:</h6>
						<ul>
							@if (Context.Request.QueryString.ToString().Trim() == "")
							{
								<li></li>
							}
							@if (Context.Request.QueryString.ToString().Contains("aslug=") &&
Context.Request.QueryString.ToString().Contains("pslug=") == false &&
Context.Request.QueryString.ToString().Contains("cslug=") == false)
							{
								<li>
									@ViewBag.Aslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
							@if (Context.Request.QueryString.ToString().Contains("pslug=") &&
Context.Request.QueryString.ToString().Contains("aslug=") == false &&
Context.Request.QueryString.ToString().Contains("cslug=") == false)
							{
								<li>
									@ViewBag.Pslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
							@if (Context.Request.QueryString.ToString().Contains("cslug=") &&
Context.Request.QueryString.ToString().Contains("pslug=") == false &&
Context.Request.QueryString.ToString().Contains("aslug=") == false)
							{
								<li>
									@ViewBag.Cslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
							@if (Context.Request.QueryString.ToString().Contains("aslug=") && Context.Request.QueryString.ToString().Contains("pslug=") &&
Context.Request.QueryString.ToString().Contains("cslug=") == false)
							{
								<li>
									@ViewBag.Aslug
								</li>
								<li>
									@ViewBag.Pslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
							@if (Context.Request.QueryString.ToString().Contains("aslug=") && Context.Request.QueryString.ToString().Contains("cslug=") &&
Context.Request.QueryString.ToString().Contains("pslug=") == false)
							{
								<li>
									@ViewBag.Aslug
								</li>
								<li>
									@ViewBag.Cslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>

							}
							@if (Context.Request.QueryString.ToString().Contains("cslug=") && Context.Request.QueryString.ToString().Contains("pslug=") &&
Context.Request.QueryString.ToString().Contains("aslug=") == false)
							{
								<li>
									@ViewBag.Cslug
								</li>
								<li>
									@ViewBag.Pslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
							@if (Context.Request.QueryString.ToString().Contains("cslug=") && Context.Request.QueryString.ToString().Contains("pslug=") &&
Context.Request.QueryString.ToString().Contains("aslug="))
							{
								<li>
									@ViewBag.Aslug
								</li>
								<li>
									@ViewBag.Pslug
								</li>
								<li>
									@ViewBag.Cslug
								</li>
								<li>
									<a href="/NewBooks">Sıfırla</a>
								</li>
							}
						</ul>
					</div>
					@if (Model.Publishers.Count() <= 5)
					{
						<div class="mt-3 publisher">
							<h6>Yayın evi:</h6>
							<ul>
								@foreach (Publisher publisher in Model.Publishers)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?pslug=@publisher.Slug">@publisher.Name</a>
											<div class="mr-1 count">@publisher.BookCount</div>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?pslug=@publisher.Slug&amp;page=1">@publisher.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;pslug=@publisher.Slug&amp;page=1">@publisher.Name</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;pslug=@publisher.Slug">@publisher.Name</a>
											<div class="mr-1 count">@publisher.BookCount</div>
										</li>
									}
								}
							</ul>
						</div>
					}
					else
					{
						<h6 class="mt-3">Yayın evi:</h6>
						<div class="publisher" style="overflow-y:hidden; height:210px">
							<ul>
								@foreach (Publisher publisher in Model.Publishers)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?pslug=@publisher.Slug">@publisher.Name</a>
											<div class="mr-1 count">@publisher.BookCount</div>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?pslug=@publisher.Slug&amp;page=1">@publisher.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;pslug=@publisher.Slug&amp;page=1">@publisher.Name</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;pslug=@publisher.Slug">@publisher.Name</a>
											<div class="mr-1 count">@publisher.BookCount</div>
										</li>
									}
								}
							</ul>
						</div>
						<div class="viewMore">Hamısını gör</div>
					}

					@if (Model.Authors.Count() <= 5)
					{
						<div class="mt-5 author">
							<h6>Yazar:</h6>
							<ul>
								@foreach (Author author in Model.Authors)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?aslug=@author.Slug">@author.Fullname</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?amp;aslug=@author.Slug&amp;page=1">@author.Fullname</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;aslug=@author.Slug&amp;page=1">@author.Fullname</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;aslug=@author.Slug">@author.Fullname</a>
										</li>
									}
								}
							</ul>
						</div>
					}
					else
					{
						<h6 class="mt-5">Yazar:</h6>
						<div class="author" style="overflow-y:hidden; height:210px">
							<ul>
								@foreach (Author author in Model.Authors)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?aslug=@author.Slug">@author.Fullname</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?aslug=@author.Slug&amp;page=1">@author.Fullname</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;aslug=@author.Slug&amp;page=1">@author.Fullname</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;aslug=@author.Slug">@author.Fullname</a>
										</li>
									}
								}
							</ul>
						</div>
						<div class="viewMore">Hamısını gör</div>
					}

					@if (Model.Categories.Count() <= 5)
					{
						<div class="mt-5 category">
							<h6>Kateqoriya:</h6>
							<ul>
								@foreach (Category category in Model.Categories)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?cslug=@category.Slug">@category.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?cslug=@category.Slug&amp;page=1">@category.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;cslug=@category.Slug&amp;page=1">@category.Name</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;cslug=@category.Slug">@category.Name</a>
										</li>
									}

								}
							</ul>
						</div>
					}
					else
					{
						<h6 class="mt-5">Kateqoriya:</h6>
						<div class="category" style="overflow-y:hidden; height:210px">
							<ul>
								@foreach (Category category in Model.Categories)
								{
									@if (Context.Request.QueryString.ToString().Trim() == "")
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString?cslug=@category.Slug">@category.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("?page") && Context.Request.QueryString.ToString().Contains("&") == false)
									{
										<li>
											<a href="@Context.Request.Path?cslug=@category.Slug&amp;page=1">@category.Name</a>
										</li>
									}
									else if (Context.Request.QueryString.ToString().Contains("page") && Context.Request.QueryString.ToString().Contains("&"))
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("&page="))&amp;cslug=@category.Slug&amp;page=1">@category.Name</a>
										</li>
									}
									else
									{
										<li>
											<a href="@Context.Request.Path@Context.Request.QueryString&amp;cslug=@category.Slug">@category.Name</a>
										</li>
									}
								}
							</ul>
						</div>
						<div class="viewMore">Hamısını gör</div>
					}
				</div>
			</div>
			<div class="col-lg-9 col-sm-12 book-section">
				<div class="container">
					@if (Model.Books.Count() != 0)
					{
						<div class="col-12 col-sm-12 books-count">
							<p class="col-12 text-center">@Model.AllBooks.Count() kitabdan 1-16 arası göstərilir</p>
						</div>
					}
					<div class="books">
						@if (Model.Books.Count() == 0)
						{
							<div style="padding:100px 0">
								<h3 style="text-align:center;font-weight:bold;color:#236bdf">
									Nəticə yoxdur
								</h3>
							</div>
						}
						else
						{
							@foreach (Book book in Model.Books)
							{
								<div class="row book">
									<div class="col-md-2 col-sm-4 col-4 image">
										<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@book.Slug"><img src="~/image/@book.ImagePath" alt=""></a>
									</div>
									<div class="col-md-10 col-sm-12 col-12 content">
										<h4>
											<a asp-controller="NewBooks" asp-action="Detail" asp-route-slug="@book.Slug">@book.Name</a>
										</h4>
										<div class="author-publisher">
											@foreach (BookAuthor bookAuthor in Model.BookAuthors.Where(ba => ba.BookId == book.Id))
											{
												<p>
													<a href="/NewBooks/?aslug=@bookAuthor.Author.Slug">@bookAuthor.Author.Fullname</a>
												</p>
											}
											<span>
												<a href="/NewBooks/?pslug=@Model.Publishers.FirstOrDefault(p => p.Id == book.PublisherId).Slug">@Model.Publishers.FirstOrDefault(p => p.Id == book.PublisherId).Name</a>
											</span>
										</div>
										<div class="mt-3 price">
											<span>@book.Price ₼</span>
										</div>
										@if (book.Count != 0)
										{
											<div style="display:flex;justify-content:flex-end; flex-wrap:wrap">
												<h6 style="color:#569a4d;font-weight:bold;margin:0">Stokda @book.Count ədəd qalıb</h6>
											</div>
										}
										else
										{
									<div style="display:flex;justify-content:space-around; flex-wrap:wrap">
										<h6 style="color:#569a4d;font-weight:bold;margin:0">Stokda qalmayıb</h6>
										<h6 style="color:#569a4d;font-weight:bold;margin:0">7-10 iş günü ərzində çatdırılma</h6>

									</div>
										}
										@if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == book.Id) == null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == book.Id) == null)
										{
											<div class="book-buttons">
												<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="btn mt-2 shopBtn btn-info"><i class="mr-1 fas fa-shopping-basket"></i>Səbətə əlavə et</a>
												<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="mt-2 fBtn btn btn-secondary"><i class="mr-1 fas fa-plus"></i>Favoritlərə əlavə et</a>
											</div>
										}
										else if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == book.Id) != null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == book.Id) == null)
										{
											<div class="book-buttons">
												<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="btn mt-2 shopBtn btn-info" style="background:#5900ff;border-color:#5900ff"><i class="mr-1 fas fa-shopping-basket"></i>Səbətdə mövcuddur</a>
												<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="mt-2 fBtn btn btn-secondary"><i class="mr-1 fas fa-plus"></i>Favoritlərə əlavə et</a>
											</div>
										}
										else if (Model.BookInCarts.FirstOrDefault(bc => bc.BookId == book.Id) == null && Model.FavoriteBooks.FirstOrDefault(bc => bc.BookId == book.Id) != null)
										{
											<div class="book-buttons">
												<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="btn mt-2 shopBtn btn-info"><i class="mr-1 fas fa-shopping-basket"></i>Səbətə əlavə et</a>
												<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="mt-2 fBtn btn btn-secondary" style="background:#5900ff;border-color:#5900ff;pointer-events:none"><i style="color:tomato" class="mr-1 fas fa-heart"></i>Favoritlərdə mövcuddur</a>
											</div>
										}
										else
										{
											<div class="book-buttons">
												<a asp-controller="NewBooks" asp-action="AddCart" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="btn mt-2 shopBtn btn-info" style="background:#5900ff;border-color:#5900ff"><i class="mr-1 fas fa-shopping-basket"></i>Səbətdə mövcuddur</a>
												<a asp-controller="NewBooks" asp-action="AddFavorite" asp-route-id="@book.Id" asp-route-actionName="@Context.Request.Path" asp-route-queryString="@Context.Request.QueryString" class="mt-2 fBtn btn btn-secondary" style="background:#5900ff;border-color:#5900ff;pointer-events:none"><i style="color:tomato" class="mr-1 fas fa-heart"></i>Favoritlərdə mövcuddur</a>
											</div>
										}
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		</div>
		<nav class="pagination mt-4 row justify-content-center" aria-label="...">
			<ul class="pagination">
				@for (int i = 1; i <= ViewBag.PageCount; i++)
				{
					if (Context.Request.QueryString.ToString().Trim() == "")
					{
						if (i == ViewBag.Page)
						{
							<li class="page-item" style="pointer-events:none">
								<a class="page-link" style="background-color:#236bdf;color:white" href="/NewBooks/Index?page=@i">@i</a>
							</li>
						}
						else
						{
							<li class="page-item">
								<a class="page-link" href="/NewBooks/Index?page=@i">@i</a>
							</li>
						}

					}
					else if (Context.Request.QueryString.ToString().Contains("page"))
					{
						@if (Context.Request.QueryString.ToString().Contains("aslug=") || Context.Request.QueryString.ToString().Contains("cslug=") ||
Context.Request.QueryString.ToString().Contains("pslug="))
						{
							if (i == ViewBag.Page)
							{
								<li class="page-item" style="pointer-events:none">
									<a class="page-link" style="background-color:#236bdf;color:white" href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("page")-1)&amp;page=@i">@i</a>
								</li>
							}
							else
							{
								<li class="page-item">
									<a class="page-link" href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("page")-1)&amp;page=@i">@i</a>
								</li>
							}
						}
						else
						{
							if (i == ViewBag.Page)
							{
								<li class="page-item" style="pointer-events:none">
									<a class="page-link" style="background-color:#236bdf;color:white" href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("page")-1)?page=@i">@i</a>
								</li>
							}
							else
							{
								<li class="page-item">
									<a class="page-link" href="@Context.Request.Path@Context.Request.QueryString.ToString().Substring(0,Context.Request.QueryString.ToString().IndexOf("page")-1)?page=@i">@i</a>
								</li>
							}
						}
					}
					else if (Context.Request.QueryString.ToString().Contains("page") == false)
					{
						if (Context.Request.QueryString.ToString().Contains("aslug=") || Context.Request.QueryString.ToString().Contains("cslug=") ||
			   Context.Request.QueryString.ToString().Contains("pslug="))
						{
							if (i == ViewBag.Page)
							{
								<li class="page-item" style="pointer-events:none">
									<a class="page-link" style="background-color:#236bdf;color:white" href="@Context.Request.Path@Context.Request.QueryString&amp;page=@i">@i</a>
								</li>
							}
							else
							{
								<li class="page-item">
									<a class="page-link" href="@Context.Request.Path@Context.Request.QueryString&amp;page=@i">@i</a>
								</li>
							}
						}

					}
					else
					{
						if (i == ViewBag.Page)
						{
							<li class="page-item" style="pointer-events:none">
								<a class="page-link" style="background-color:#236bdf;color:white" href="@Context.Request.Path@Context.Request.QueryString&amp;page=@i">@i</a>
							</li>
						}
						else
						{
							<li class="page-item">
								<a class="page-link" href="@Context.Request.Path@Context.Request.QueryString&amp;page=@i">@i</a>
							</li>
						}
					}
				}
			</ul>
		</nav>
	</div>
</section>

<!-- New Books End -->
