@model IEnumerable<Sale>
@{
	ViewData["Title"] = "Tamamlanmışlar";
}

<h2 style="text-align:center;font-weight:bold" class="mt-3">Tamamlanmış sifarişlər</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Müştəri</th>
			<th scope="col" class="saledate">Satışın tarixi</th>
			<th scope="col">Məbləğ</th>
			<th scope="col">Detallar</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Sale sale in Model)
		{
			<tr>
				<td>@sale.AppUser.FullName</td>
				<td class="saledate">@sale.Date</td>
				<td>@sale.Total ₼</td>
				<td>
					<a class="btn btn-info" asp-controller="Sales" asp-action="Detail" asp-route-id="@sale.Id">
						<i style="color:white; font-size:22px" class="mdi mdi-clipboard"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<nav aria-label="..." class="d-flex justify-content-center">
	<ul class="pagination">
		@if (ViewBag.Page == 1 && ViewBag.PageCount > 1)
		{
			<li class="page-item current" style="pointer-events:none;">
				<a style="background-color:#236bdf;color:white" class="page-link" href="/BakumozAdminPanel/Sales/CompletedSales?page=1">Birinci</a>
			</li>
		}
		else if (ViewBag.PageCount > 1)
		{
			<li class="page-item">
				<a class="page-link" href="/BakumozAdminPanel/Sales/CompletedSales?page=1">Birinci</a>
			</li>
		}
		@for (int i = 1; i <= ViewBag.PageCount; i++)
		{

			if (i == ViewBag.Page)
			{
				<li class="page-item current" style="pointer-events:none;"><a class="page-link" style="background-color:#236bdf;color:white" href="/BakumozAdminPanel/Sales/CompletedSales?page=@i">@i </a></li>
			}
			else
			{
				<li class="page-item">
					<a class="page-link" href="/BakumozAdminPanel/Sales/CompletedSales?page=@i">@i</a>
				</li>
			}
		}
		@if (ViewBag.Page == ViewBag.PageCount && ViewBag.PageCount > 1)
		{
			<li class="page-item current" style="pointer-events:none;">
				<a style="background-color:#236bdf;color:white" class="page-link" href="/BakumozAdminPanel/Sales/CompletedSales?page=@ViewBag.PageCount">Sonuncu</a>
			</li>
		}
		else if (ViewBag.PageCount > 1)
		{
			<li class="page-item">
				<a class="page-link" href="/BakumozAdminPanel/Sales/CompletedSales?page=@ViewBag.PageCount">Sonuncu</a>
			</li>
		}

	</ul>
</nav>


@section Scripts{
	<script>
		$(".pagination li").not($(".pagination li.current")).not($(".pagination li.current").prev()).not($(".pagination li.current").prev().prev()).not($(".pagination li.current").prev().prev().prev()).not($(".pagination li.current").next()).not($(".pagination li.current").next().next()).not($(".pagination li.current").next().next().next()).not($(".pagination li").first()).not($(".pagination li").last()).addClass("d-none")
	</script>
}


