@model IEnumerable<Sale>
@{
    ViewData["Title"] = "Satışlar";
}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Müştəri</th>
                <th scope="col">Satışın tarixi</th>
                <th scope="col">Məbləğ</th>
                <th scope="col">Detallar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Sale sale in Model)
            {
                <tr>
                    <td>@sale.AppUser.FullName</td>
                    <td>@sale.Date</td>
                    <td>@sale.Total ₼</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Sales" asp-action="Detail" asp-route-id="@sale.Id">
                            <i style="color:white; font-size:22px" class="mdi mdi-clipboard"></i>
                        </a>
                        <a class="btn btn-success" asp-controller="Sales" asp-action="Completed" asp-route-id="@sale.Id">
                            <i style="color:white; font-size:22px" class="mdi mdi-clipboard-check"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

