@model Bio
@{
    Layout = null;
}

@if (@ViewContext.RouteData.Values["controller"].ToString().ToLower() != "account" && @ViewContext.RouteData.Values["controller"].ToString().ToLower() != "contact" && @ViewContext.RouteData.Values["controller"].ToString().ToLower() != "basket" && @ViewContext.RouteData.Values["controller"].ToString().ToLower() != "profile")
{
    <!-- Footer Start -->

    <footer id="Footer" style="background-color: whitesmoke;">
        <div class="container">
            <div class="footerNav">
                <div class="col-3 left">
                    <ul class="navUl">
                        <li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
                        <li><a asp-controller="NewBooks" asp-action="Index">Yenilər</a></li>
                        <li><a asp-controller="BestSellers" asp-action="Index">Çox satılanlar</a></li>
                    </ul>
                </div>
                <div class="col-4 middle">
                    <div class="bakumoz">
                        <h2>Bakumoz</h2>
                    </div>
                    <div class="social">
                        <ul class="socialUl">
                            <li>
                                <a href="@Model.FacebookLink" target="_blank">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-facebook-f"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Model.InstagramLink" target="_blank">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footerBorder">
                        <div class="first"></div>
                    </div>
                </div>
                <div class="col-3 right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navUl">
                            <li><a asp-controller="Categories" asp-action="Index">Kateqoriyalar</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navUl">
                            <li><a asp-controller="Categories" asp-action="Index">Kateqoriyalar</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Qeydiyyat/Giriş</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                        </ul>
                    }
                </div>
            </div>
            <div class="footerLogo">
                <div class="middle">
                    <div class="bakumoz">
                        <h2>Bakumoz</h2>
                    </div>
                    <div class="social">
                        <ul class="socialUl">
                            <li>
                                <a href="@Model.FacebookLink" target="_blank">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-facebook-f"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="@Model.InstagramLink" target="_blank">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footerBorder">
                        <div class="first"></div>
                    </div>
                </div>
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/image/@Model.Logo" alt="">
                    </a>
                </div>
                <div class="since">
                    <small><Strong>©2020</Strong></small>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer End -->
}