@model Bio
@{
	Layout = null;
}

@if (@ViewContext.RouteData.Values["controller"].ToString().ToLower() == "account" || @ViewContext.RouteData.Values["controller"].ToString().ToLower() == "contact" || @ViewContext.RouteData.Values["controller"].ToString().ToLower() == "basket")
{
	<header style="background:none">
		<div class="container">
			<nav class="col row justify-content-between ">
				<div class="logo row col ">
					<a asp-controller="Home" asp-action="Index">
						<img style="width: 90px; height: 60px; " src="~/image/@Model.Logo"
							 alt=" ">
					</a>
				</div>
				<div class="menu col">
					@if (!User.Identity.IsAuthenticated)
					{
						<div class="login">
							<a asp-controller="Account" asp-action="Login">
								<i class="fas fa-sign-in-alt"></i>
								<h6>Login</h6>
							</a>
						</div>
					}
					else
					{
						<div class="login">
							<a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name">
								<i class="fas fa-user"></i>
								<h6>@User.Identity.Name</h6>
							</a>
						</div>
					}
					<div class="cart">
						<a asp-controller="Basket" asp-action="Index" asp-route-username="@User.Identity.Name">
							<i class="fas fa-shopping-basket"></i>
						</a>
						<sup>@ViewBag.BookCount</sup>
					</div>
					<span>Menu</span>
					<i id="sandwich" class="fas fa-bars"></i>
				</div>
			</nav>
		</div>
		<div class="col-12 activeMenu">
			<div class="mainLeft col-md-12 d-flex">
				<div class="leftSide">
					<ul class="navLeftUl ">
						<li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
						<li><a asp-controller="NewBooks" asp-action="Index">Yenilər</a></li>
						<li><a asp-controller="BestSellers" asp-action="Index">Çox satılanlar</a></li>
						<li><a asp-controller="Categories" asp-action="Index">Kateqoriyalar</a></li>
					</ul>

				</div>
				<div class="social">
					<ul class="socialUl">
						<li>
							<a href="@Model.FacebookLink" target="_blank">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span><i class="fab fa-facebook-f"></i></span>
							</a>
						</li>
						<li>
							<a href="@Model.InstagramLink" target="_blank">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span><i class="fab fa-instagram"></i></span>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="mainRight col-md-12 d-flex justify-content-end ">
				<div class="rightSide">
					@if (User.Identity.IsAuthenticated)
					{
						<ul class="navRightUl">
							<li><a asp-controller="Publishers" asp-action="Index">Nəşriyyat evləri</a></li>
							@if (User.IsInRole(FinalProject.Helpers.Helper.Roles.Admin.ToString()))
							{
								<li><a asp-area="BakumozAdminPanel" asp-controller="Sales" asp-action="Index">Admin Panel</a></li>
							}
							<li><a asp-controller="Account" asp-action="LogOut">Çıxış</a></li>
							<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
						</ul>
					}
					else
					{
						<ul class="navRightUl">
							<li><a asp-controller="Publishers" asp-action="Index">Nəşriyyat evləri</a></li>
							<li><a asp-controller="Account" asp-action="Login">Qeydiyyat/Giriş</a></li>
							<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
						</ul>
					}
				</div>
				<div class="about">
					<p>@Model.City</p>
					<p>@Model.PhoneNumber,</p>
					<p>@Model.Street,</p>
					<p>@Model.Country</p>
				</div>
			</div>
			<i id="close" class="fas fa-times"></i>
		</div>
	</header>
}
else
{
	<!-- Search Start -->
	<section id="Search">
		<div class="search">
			<div class="search-box">
				<i id="searchBtn" class="fas fa-search"></i>
				<i id="closeBtn" class="fas fa-arrow-right"></i>
				<form id="form" method="post">
					<ul>
						<li><input class="search-txt" type="search" placeholder="Axtarış..."></li>
					</ul>
				</form>
			</div>
		</div>
	</section>

	<!-- Search End -->
	<header>
		<div class="container">
			<nav class="col row justify-content-between ">
				<div class="logo row col ">
					<a asp-controller="Home" asp-action="Index">
						<img style="width: 90px; height: 60px; " src="~/image/@Model.Logo"
							 alt=" ">
					</a>
				</div>
				<div class="menu col">
					@if (!User.Identity.IsAuthenticated)
					{
						<div class="login">
							<a asp-controller="Account" asp-action="Login">
								<i class="fas fa-sign-in-alt"></i>
								<h6>Login</h6>
							</a>
						</div>
					}
					else
					{
						<div class="login">
							<a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name">
								<i class="fas fa-user"></i>
								<h6>@User.Identity.Name</h6>
							</a>
						</div>
					}
					<div class="cart">
						<a asp-controller="Basket" asp-action="Index" asp-route-username="@User.Identity.Name">
							<i class="fas fa-shopping-basket"></i>
						</a>
						<sup>@ViewBag.BookCount</sup>
					</div>
					<span>Menu</span>
					<i id="sandwich" class="fas fa-bars"></i>
				</div>
			</nav>
		</div>
		<div class="col-12 activeMenu">
			<div class="mainLeft col-md-12 d-flex">
				<div class="leftSide">
					<ul class="navLeftUl ">
						<li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
						<li><a asp-controller="NewBooks" asp-action="Index">Yenilər</a></li>
						<li><a asp-controller="BestSellers" asp-action="Index">Çox satılanlar</a></li>
						<li><a asp-controller="Categories" asp-action="Index">Kateqoriyalar</a></li>
					</ul>

				</div>
				<div class="social">
					<ul class="socialUl">
						<li>
							<a href="@Model.FacebookLink" target="_blank">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span><i class="fab fa-facebook-f"></i></span>
							</a>
						</li>
						<li>
							<a href="@Model.InstagramLink" target="_blank">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span><i class="fab fa-instagram"></i></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mainRight col-md-12 d-flex justify-content-end ">
				<div class="rightSide">
					@if (User.Identity.IsAuthenticated)
					{
						<ul class="navRightUl">
							<li><a asp-controller="Publishers" asp-action="Index">Nəşriyyat evləri</a></li>
							@if (User.IsInRole(FinalProject.Helpers.Helper.Roles.Admin.ToString()))
							{
								<li><a asp-area="BakumozAdminPanel" asp-controller="Sales" asp-action="Index">Admin Panel</a></li>
							}
							<li><a asp-controller="Account" asp-action="LogOut">Çıxış</a></li>
							<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
						</ul>
					}
					else
					{
						<ul class="navRightUl">
							<li><a asp-controller="Publishers" asp-action="Index">Nəşriyyat evləri</a></li>
							<li><a asp-controller="Account" asp-action="Login">Qeydiyyat/Giriş</a></li>
							<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
						</ul>
					}
				</div>
				<div class="about">
					<p>@Model.City</p>
					<p>@Model.PhoneNumber,</p>
					<p>@Model.Street,</p>
					<p>@Model.Country</p>
				</div>
			</div>
			<i id="close" class="fas fa-times"></i>
		</div>
	</header>
}