<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>


<body>

	<!-- Menu Start -->

	@await Component.InvokeAsync("Header")

	<!-- Menu End -->
	@RenderBody()

	@if (@ViewContext.RouteData.Values["controller"].ToString().ToLower() != "account" && @ViewContext.RouteData.Values["controller"].ToString().ToLower() != "contact" && @ViewContext.RouteData.Values["controller"].ToString().ToLower() != "basket")
	{
		<!-- Footer Start -->

		<footer id="Footer" style="background-color: whitesmoke;">
			<div class="container">
				<div class="footerNav">
					<div class="col-3 left">
						<ul class="navUl">
							<li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
							<li><a asp-controller="NewBooks" asp-action="Index">Yenilər</a></li>
							<li><a asp-controller="BestSellers" asp-action="Index">Çox satılanlar</a></li>
						</ul>
					</div>
					<div class="col-4 middle">
						<div class="bakumoz">
							<h2>Bakumoz</h2>
						</div>
						<div class="social">
							<ul class="socialUl">
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-facebook-f"></i></span>
									</a>
								</li>
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-instagram"></i></span>
									</a>
								</li>
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-google-plus-g"></i></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="footerBorder">
							<div class="first"></div>
						</div>
					</div>
					<div class="col-3 right">
						@if (User.Identity.IsAuthenticated)
						{
							<ul class="navUl">
								<li><a asp-controller="Categories" asp-action="Index">Kategoriyalar</a></li>
								<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
							</ul>
						}
						else
						{
							<ul class="navUl">
								<li><a asp-controller="Categories" asp-action="Index">Kategoriyalar</a></li>
								<li><a asp-controller="Account" asp-action="Index">Qeydiyyat/Giriş</a></li>
								<li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
							</ul>
						}
					</div>
				</div>
				<div class="footerLogo">
					<div class="middle">
						<div class="bakumoz">
							<h2>Bakumoz</h2>
						</div>
						<div class="social">
							<ul class="socialUl">
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-facebook-f"></i></span>
									</a>
								</li>
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-instagram"></i></span>
									</a>
								</li>
								<li>
									<a href="">
										<span></span>
										<span></span>
										<span></span>
										<span></span>
										<span><i class="fab fa-google-plus-g"></i></span>
									</a>
								</li>
							</ul>
						</div>
						<div class="footerBorder">
							<div class="first"></div>
						</div>
					</div>
					<div class="logo">
						<a asp-controller="Home" asp-action="Index">
							<img src="~/image/bakumoz.png" alt="">
						</a>
					</div>
					<div class="since">
						<small><Strong>©2020</Strong></small>
					</div>
				</div>
			</div>
		</footer>

		<!-- Footer End -->
	}

	<script src="https://kit.fontawesome.com/9a2a6d18cc.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/parallax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
	@RenderSection("Scripts", required: false)
	<script src="~/js/script.js"></script>
</body>

</html>
